#quote-box{
    background-color: #ffff;
    margin-top: 15%;
    width: 60%;
    padding: 2rem;
    border-radius: 7px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}



@media screen and  (max-width: 768px) {
    #quote-box{
        width: 100%;
    }
}